[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylama = "*"
pycodestyle = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-mongoengine = "*"
mongoengine-goodjson = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"

[requires]
python_version = "3.6"
